*{
    margin: 0px;
    padding:0px;
}
h1{
    padding: 60px 0px 0px 0px;
}
div#h1
{
    margin: auto;
    border: 5px;
    width: 960px;
    height: 800px;
    position: relative;;
}
div.Wall{
    background-color: grey;
    width: 400px;
    height: 300px;
    position: relative;
    left: 28%;
    top: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
div.puerta{
    position: absolute;
    background-color: brown;
    height: 100px;
    width: 110px;
    margin: 190px 0px 0px 150px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
div.ventana{
    position: absolute;
    background-color: blue;
    height: 90px;
    width: 90px;
    margin: 75px 0px 0px 20px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
div.ventana2{
    position: absolute;
    background-color: blue;
    height: 90px;
    width: 90px;
    margin: 150px 0px 0px 289px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
div.tejado{
position: absolute;
background-color: red;
width: 450px;
height: 70px;
left: 25%;
margin-top: 320px;
border-width: 5px;
border-style: solid;
border-color: black;
}
